img[alt*="instalaciones"] {
    
        width:50%;
        margin:10%;
        box-shadow: 9px 13px 27px -14px #000;
          -moz-box-shadow: 9px 13px 27px -14px #000;
          -webkit-box-shadow: 9px 13px 27px -14px #000;
          -khtml-box-shadow: 9px 13px 27px -14px #000;
    }

    .Descripcion p{
    line-height: 1.5;
    color: #112847;
    font-family: "Muli",Sans-serif;
    font-size: 18px;

}

.Descripcion h{
    color: #13287e;
    font-family: "Muli",Sans-serif;
    margin: 0 0 100px;
    font-size: 34px;
    font-weight: 800;
    line-height: 36px;

}

.Comienzo{
    margin:0%;
}
@media  (max-width: 1250px) { 
    .Instalaciones .Imagenes{
      position:absolute;
    }
}